.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.logo {
  width: 250px;
  height: auto;
}
.nav {
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-size: 1.5rem;
  font-family: karla;
}

.hero-section {
  background-color: #495e57;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

.left-column {
  margin-bottom: 75px;
  margin-left: 400px;
  width: 100%;
}

.restaurant {
  color: #f4ce14;
  font-size: 3.3rem;
  font-family: markazi;
  font-weight: bolder;
}

.city {
  font-family: markazi;
  color: #edefee;
  font-size: 3rem;
  margin-top: -30px;
}

.summary {
  color: #edefee;
  font-family: karla;
  font-size: 1.5rem;
  margin: 20px 0 50px 0;
}

.hero-image {
  width: 25%;
  height: auto;
  border-radius: 8px;
  margin: 20px 250px 20px 0
}

.weekly-specials {

}

.specials-header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  text-align: center;
  flex-direction: row;
  margin: 5% 5%;
}

.specials-title {
  font-size: 3rem;
}

.menu-button {
background-color: #f4ce14;
font-size: 3em;
border-radius: 8px;
}

.foodcard-layout {
  background-color: #edefee;
  border-style: solid;
  border-radius: 8px;
  margin: 3em;
  text-align: center;
  max-width: 18%;
  word-wrap: break-word;
  font-family: karla;
  font-size: 1rem;
  height: 350px;
}

.foodcard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.weekly-specials {
  max-width: 100%;
  padding-bottom: 7em;
}

.weekly-specials img {
  width: 300px;
  height: 200px;
}

.specials-title {
text-align: left;
}

.testimonials {
  background-color: #edefee;
}

.testimonial-title{
text-align: center;
}

.testimonial-card {
display: flex;
justify-content: center;
align-items: center;
}

.testimonial-pic {
  width: 10%;
  height: auto;
}

.about-pic1, .about-pic2 {
  width: 20%;
  height: auto;
}

.footer {
  background-color: #edefee;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  gap: 20px;
}

.footer1 {
  grid-column: 1;
  grid-row: 1;
}

.footer2 {
  grid-column: 2;
  grid-row: 1;
}

.footer3 {
  grid-column: 3;
  grid-row: 1;
}

.footer,
ul {
  list-style-type: none;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}