/* Home Page Styles */
/* Hero Styles */
.hero-section {
  background-color: #495e57;
}

.restaurant {
  color: #f4ce14;
  font-size: 3.3rem;
  font-family: markazi;
  font-weight: bolder;
}

.city {
  font-family: markazi;
  color: #edefee;
  font-size: 3rem;
  font-weight: bolder;
  margin-top: -1em;
}

.summary {
  color: #edefee;
  font-family: karla;
  font-size: 1.5rem;
  font-weight: bold;
}

.reserve-button {
  background-color: #f4ce14;
  font-family: karla;
  border-radius: 8px;
  font-size: 3em;
}

.reserve-button:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 6px 10px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* Weekly Specials Styles */
.specials-title {
  font-size: 3rem;
  font-family: markazi;
}

.menu-button {
  background-color: #f4ce14;
  font-size: 3em;
  border-radius: 8px;
  font-family: karla;
  white-space: nowrap;
}

.menu-button:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 6px 10px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.foodcard-layout {
  background-color: #edefee;
  border-style: solid;
  border-radius: 8px;
  font-family: karla;
  font-weight: bold;
  font-size: 1rem;
  color: #495e57;
}

.foodcard-title {
  text-decoration: underline;
}

.weekly-specials img {
  border-radius: 8px;
}

/* Testimonial Styles */
.testimonials {
  background-color: #edefee;
  border-top: solid #495e57;
  border-bottom: solid #495e57;
}

.testimonial-title {
  font-family: markazi;
  font-size: 3rem;
}

.testimonial-card {
  font-family: karla;
  font-weight: bold;
  color: #495e57;
  text-align: center;
}

.testimonial-profile {
  border-style: solid;
  border-radius: 8px;
}

.testimonial-pic {
  border-radius: 8px;
}

/* About Styles */
.about-section {
  border-top: solid #495e57;
  border-bottom: solid #495e57;
}

.about-title {
  font-size: 3rem;
  font-family: markazi;
  color: #495e57;
}

.about-city {
  font-size: 2.5rem;
  font-family: markazi;
  color: #f4ce14;
}

.about-article {
  font-size: 1.2rem;
  font-family: karla;
  color: #495e57;
}

.about-pic1,
.about-pic2 {
  border-radius: 8px;
}

/* Footer Styles */
.footer {
  background-color: #edefee;
  display: grid;
  justify-content: space-evenly;
  grid-column-start: 1;
  grid-column-end: 4;
  font-family: karla;
  text-decoration: underline;
  color: #495e57;
  padding-left: 5%;
  padding-bottom: 1%;
}

.logo2 {
  margin-top: 1.3em;
  grid-column: 1;
  grid-row: 1;
}

.logo2 img {
  max-width: 5em;
}

.footer1 {
  grid-column: 2;
  grid-row: 1;
}

.footer2 {
  grid-column: 3;
  grid-row: 1;
}

.footer3 {
  grid-column: 4;
  grid-row: 1;
}

.footer-nav,
.contact-us,
.socials {
  margin-top: -1em;
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.footer a {
  color: #495e57;
}

/* Reservation Page Styles */

.booking-title {
  text-align: center;
  font-family: markazi;
  color: #495e57;
  text-decoration: underline;
}

.booking-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: karla;
}

.fieldset-container {
  margin: -0.5em;
  padding: 1em;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  text-wrap: nowrap;
}

.form-group label {
  padding-right: 3em;
}

.form-group input {
  margin: 1.5em 0;
}

.reserve-submit {
  font-size: 2em;
  background-color: #f4ce14;
  border-radius: 8px;
  font-family: karla;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5em;
}

.reserve-submit:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 6px 10px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.confirmation-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.confirmation-title {
  text-align: center;
  font-size: 3em;
  font-family: markazi;
  text-decoration: underline;
  color: #495e57;
  margin-bottom: -0.1em;
}

.confirmation-img {
  text-align: center;
  max-width: 20%;
  margin: 2.5em 0;
}

span {
  color: red;
}

/* About Page Styles */

.about-page-title {
  color: #495e57;
  font-family: markazi;
  text-align: center;
  text-decoration: underline;
}

/* Menu Styles */

.menu-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Order Styles */

.order-title {
  color: #495e57;
  font-family: markazi;
  font-size: 3em;
  text-align: center;
  text-decoration: underline;
  margin: 5em 0;
}

/* Login Styles */

.login-title {
  color: #495e57;
  font-family: markazi;
  font-size: 3em;
  text-align: center;
  text-decoration: underline;
  margin: 5em 0;
}

/* Global Styles */
main {
  max-width: 100%;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

/* Responsive Screen Size Styles */
@media screen and (max-width: 600px) {
  /* Header and Nav */
  .logo {
    display: none;
  }
  .nav {
    display: none;
  }
  .mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em;
  }

  .hamburger {
    text-align: left;
  }

  .mobile-logo {
    text-align: right;
  }

  /* Home Page Styles */
  /* Hero Section Style */
  .hero-section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1em;
  }

  .left-column {
    text-wrap: balance;
  }

  .hero-image {
    display: none;
  }

  /* Weekly Specials Styles */
  .weekly-specials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 100%;
    height: auto;
  }

  .foodcard {
    max-width: 75%;
  }

  .foodcard-layout {
    margin: 3em 0;
  }

  .weekly-specials img {
    max-width: 100%;
    height: auto;
  }

  /* Testimonial Styles */
  .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
  }

  .testimonial-profile {
    text-align: center;
    margin: 3em;
  }

  .testimonial-card {
    max-width: 75%;
  }

  .testimonial-pic {
    max-width: 100%;
    height: auto;
  }

  /* About Styles */
  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-align: center;
  }

  .about-city {
    margin-top: -1em;
  }

  .about-article {
    margin: 1em;
  }

  .about-pic-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }

  .about-pic1 {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .about-pic2 {
    display: none;
  }

  /* About Page */
  .about-page-title {
    font-size: 3rem;
    max-width: 100%;
    height: auto;
    margin: 5.6em 0;
  }

  /* Menu Page */
  .menu-group {
    max-width: 100%;
    height: auto;
    padding: 1.6em 0;
  }

  /* Reservations Page */
  .booking-title {
    margin-top: 2em;
  }

  .booking-form {
    margin: 1.4em 0;
  }

  .confirmation-title {
    margin-top: 3em;
  }

  .confirmation-group {
    margin-bottom: 12em;
  }

  /* Online Orders */
  .order-title {
    font-size: 3rem;
    max-width: 100%;
    height: auto;
    margin: 5.6em 0;
  }

  /* Login Page */
  .login-title {
    font-size: 3rem;
    max-width: 100%;
    height: auto;
    margin: 5.6em 0;
  }
}

@media screen and (max-width: 768px) {
  /* Header and Nav */
  .logo {
    display: none;
  }
  .nav {
    display: none;
  }
  .mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em;
  }

  .hamburger {
    text-align: left;
  }

  .mobile-logo {
    text-align: right;
  }

  /* Hero Styles */
  .hero-section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1em;
  }

  .hero-image {
    display: none;
  }

  /* Weekly Specials Styles */
  .weekly-specials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 100%;
    height: auto;
  }

  .foodcard {
    max-width: 75%;
  }

  .foodcard-layout {
    margin: 3em 0;
  }

  .weekly-specials img {
    max-width: 100%;
    height: auto;
  }

  /* Testimonial Styles */
  .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
  }

  .testimonial-profile {
    text-align: center;
    margin: 3em;
  }

  .testimonial-card {
    max-width: 75%;
  }

  .testimonial-pic {
    max-width: 100%;
    height: auto;
  }

  /* About Styles */
  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-align: center;
  }

  .about-city {
    margin-top: -1em;
  }

  .about-article {
    margin: 1em;
  }

  .about-pic-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }

  .about-pic1 {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .about-pic2 {
    display: none;
  }

  /* About Page */
  .about-page-title {
    font-size: 3rem;
    max-width: 100%;
    height: auto;
    margin: 5.6em 0;
  }

  /* Menu Page */
  .menu-group {
    max-width: 100%;
    height: auto;
    padding: 1.6em 0;
  }

  /* Reservations Page */
  .booking-title {
    margin-top: 2em;
  }

  .booking-form {
    margin: 1.4em 0;
  }

  .confirmation-title {
    margin-top: 3em;
  }

  .confirmation-group {
    margin-bottom: 12em;
  }

  /* Online Orders */
  .order-title {
    font-size: 3rem;
    max-width: 100%;
    height: auto;
    margin: 5.6em 0;
  }

  /* Login Page */
  .login-title {
    font-size: 3rem;
    max-width: 100%;
    height: auto;
    margin: 5.6em 0;
  }
}

@media screen and (min-width: 768px) {
  /* Header and Nav */
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 1.5em 0em;
    white-space: nowrap;
  }

  .logo,
  .nav {
    max-width: 100%;
  }

  .logo {
    width: 250px;
    height: auto;
  }

  .nav {
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: 1.5em;
    font-family: karla;
  }

  .mobile-header {
    display: none;
  }

  /* Home Page Styles */
  .hero-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-align: center;
  }

  .left-column {
    grid-column: 2;
    grid-row: 1;
  }

  .left-column,
  .hero-image {
    margin: 3em 4.9em;
  }

  .hero-image {
    max-width: 100%;
    grid-column: 3;
    grid-row: 1;
    width: 410px;
    height: auto;
    border-radius: 8px;
  }

  .reserve-button {
    margin-top: 0.5em;
    white-space: nowrap;
  }

  /* Weekly Specials Styles */
  .weekly-specials {
    max-width: 100%;
  }

  .specials-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
    margin: 5em 1em;
  }

  .specials-title {
    text-align: left;
  }

  .foodcard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1;
    margin: 6em 0;
  }

  .foodcard-layout {
    margin: 0 0.5em;
    text-align: center;
    font-size: 1.2rem;
  }

  .weekly-specials img {
    max-width: 100%;
    height: auto;
  }

  /* Testimonials Styles */
  .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-align: center;
  }

  .testimonial-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 1;
    margin: 5em 3em;
    gap: 20px;
  }

  .testimonial-pic {
    max-width: 100%;
    height: auto;
  }

  /* About Styles */
  .about-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    padding: 11.5em;
    justify-content: space-between;
  }

  .about-column {
    align-items: center;
    text-align: center;
  }

  .about-title {
    white-space: nowrap;
    margin-bottom: -1em;
  }

  .about-pic-column {
    margin: 0 0 0 8em;
    align-items: center;
    position: relative;
    top: 0;
    right: 0;
  }

  .about-pic1 {
    max-width: 100%;
    width: 350px;
    height: auto;
    position: relative;
    top: 0;
    right: 0;
  }

  .about-pic2 {
    max-width: 100%;
    width: 350px;
    height: auto;
    position: absolute;
    top: 10em;
    right: 2em;
  }

  /* About Page */
  .about-page-title {
    font-size: 3em;
    margin: 5.2em 0;
  }

  /* Menu Page */
  .menu-group {
    max-width: 100%;
    padding: 0.7em 0;
  }

  /* Reservations Page */
  .booking-title {
    font-size: 3em;
    margin-top: 0.6em;
  }

  .confirmation-title {
    margin-top: 2.4em;
  }

  .confirmation-group {
    margin-bottom: 5em;
  }

  /* Online Orders */
  .order-title {
    font-size: 3em;
    margin: 5.2em 0;
  }

  /* Login Page */
  .login-title {
    font-size: 3em;
    margin: 5.2em 0;
  }
}

@media screen and (min-width: 1720px) {
  /* Header and Nav */
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 1.5em 0em;
    white-space: nowrap;
  }

  .logo,
  .nav {
    max-width: 100%;
  }

  .logo {
    width: 250px;
    height: auto;
  }

  .nav {
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: 2rem;
    font-family: karla;
  }

  .mobile-header {
    display: none;
  }

  /* Home Page Styles */
  .hero-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-align: center;
  }

  .left-column {
    grid-column: 2;
    grid-row: 1;
    white-space: nowrap;
  }

  .left-column,
  .hero-image {
    margin: 3em 4.9em;
  }

  .hero-image {
    grid-column: 3;
    grid-row: 1;
    width: 510px;
    height: auto;
    border-radius: 8px;
  }

  .reserve-button {
    margin-top: 0.5em;
    white-space: nowrap;
  }

  /* Weekly Specials Styles */
  .weekly-specials {
    max-width: 100%;
  }

  .specials-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
    margin: 5em 1em;
  }

  .specials-title {
    text-align: left;
  }

  .foodcard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1;
    max-width: 100%;
    margin: 6em 0;
  }

  .foodcard-layout {
    margin: 0 3.5em;
    text-align: center;
  }

  .weekly-specials img {
    max-width: 100%;
    width: 800px;
    height: auto;
  }

  /* Testimonials Styles */
  .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-align: center;
  }

  .testimonial-title {
    margin-top: 1em;
  }

  .testimonial-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 1;
    margin: 8em 3em;
    gap: 20px;
    font-size: 1.2rem;
  }

  .testimonial-pic {
    max-width: 100%;
    height: auto;
  }

  /* About Styles */
  .about-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    padding: 15em;
    justify-content: space-between;
  }

  .about-column {
    align-items: center;
    text-align: center;
  }

  .about-title {
    font-size: 3rem;
    white-space: nowrap;
    margin-bottom: -1em;
  }

  .about-city {
    font-size: 2.5rem;
  }

  .about-article {
    font-size: 2rem;
  }

  .about-pic-column {
    margin: 0 0 0 8em;
    align-items: center;
    position: relative;
    top: 0;
    right: 0;
  }

  .about-pic1 {
    width: 500px;
    height: auto;
    position: relative;
    top: 0;
    right: 0;
  }

  .about-pic2 {
    width: 500px;
    height: auto;
    position: absolute;
    top: 10em;
    right: 2em;
  }

  /* Nav Styles */
  .logo2 {
    margin-top: 3.5em;
  }

  .footer1,
  .footer2,
  .footer3 {
    font-size: 1.5rem;
  }

  /* About Page */
  .about-page-title {
    font-size: 3em;
    margin: 5em 0;
    padding: 4.7em 0 4.7em 0;
  }

  /* Menu Page */
  .menu-group {
    max-width: 100%;
    padding: 14em 0 14em 0;
  }

  /* Reservations Page */
  .booking-title {
    font-size: 3em;
    margin-top: 5em;
  }

  .booking-form {
    margin: 0 0 15em 0;
  }

  .confirmation-title {
    margin-top: 3em;
  }

  .confirmation-group {
    margin-bottom: 12em;
  }

  /* Online Orders */
  .order-title {
    padding: 4.7em 0 4.7em 0;
  }

  /* Login Page */
  .login-title {
    padding: 4.7em 0 4.7em 0;
  }
}
