/* Home Page Styles */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.logo {
  width: 250px;
  height: auto;
}
.nav {
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-size: 1.5rem;
  font-family: karla;
}

@media screen and (max-width: 640px) {
  .logo {
    display: none;
  }
  .nav {
    display: none;
  }
  .mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    text-align: left;
  }

  .mobile-logo {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  .nav {
    display: none;
  }

  .mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    text-align: left;
  }

  .mobile-logo {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .mobile-header {
    display: none;
  }
}

.hero-section {
  background-color: #495e57;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1em;
}

.left-column {
  margin-bottom: 75px;
  margin-left: 400px;
  width: 100%;
}

.restaurant {
  color: #f4ce14;
  font-size: 3.3rem;
  font-family: markazi;
  font-weight: bolder;
}

.city {
  font-family: markazi;
  color: #edefee;
  font-size: 3rem;
  margin-top: -1em;
}

.summary {
  color: #edefee;
  font-family: karla;
  font-size: 1.5rem;
  margin: 20px 0 50px 0;
}

.reserve-button {
  background-color: #f4ce14;
  font-family: karla;
  border-radius: 8px;
  font-size: 2.5em;
}

.hero-image {
  width: 25%;
  height: auto;
  border-radius: 8px;
  margin: 20px 250px 20px 0;
}

.weekly-specials {
  max-width: 100%;
  padding: 3.5em;
}

.specials-header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  text-align: center;
  flex-direction: row;
  margin: 5% 5%;
}

.specials-title {
  font-size: 3rem;
  text-align: left;
  font-family: markazi;
}

.menu-button {
  background-color: #f4ce14;
  font-size: 3em;
  border-radius: 8px;
  font-family: karla;
}

.foodcard-layout {
  background-color: #edefee;
  border-style: solid;
  border-radius: 8px;
  margin: 3em;
  text-align: center;
  max-width: 19%;
  word-wrap: break-word;
  font-family: karla;
  font-size: 1rem;
  height: 350px;
  color: #495e57;
}

.foodcard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.weekly-specials img {
  width: 298px;
  height: 200px;
  border-radius: 8px;
}

.testimonials {
  max-width: 100%;
  background-color: #edefee;
  padding: 5em;
  border: solid #495e57;
}

.testimonial-title {
  text-align: center;
  /* padding-top: 2em; */
  margin: 2.5em;
  font-family: markazi;
  font-size: 3rem;
}

.testimonial-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 6em;
  font-family: karla;
  color: #495e57;
}

.testimonial-profile {
  text-align: center;
}

.testimonial-pic {
  width: 50%;
  height: auto;
  border-radius: 8px;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 12em;
  justify-content: space-between;
  border: solid #495e57;
}

.about-column {
  align-items: center;
}

.about-title {
  font-size: 3rem;
  font-family: markazi;
  margin-bottom: -0.7em;
  color: #495e57;
}

.about-city {
  font-size: 2rem;
  font-family: markazi;
  color: #f4ce14;
}

.about-article {
  font-size: 1.2rem;
  font-family: karla;
  color: #495e57;
}

.about-pic-column {
  margin: 0 0 0 8em;
  align-items: center;
  position: relative;
  top: 0;
  right: 0;
}

.about-pic1 {
  max-width: 70%;
  position: relative;
  top: 0;
  right: o;
}

.about-pic2 {
  max-width: 70%;
  position: absolute;
  top: 10em;
  right: 2em;
}

.footer {
  background-color: #edefee;
  display: grid;
  justify-content: space-evenly;
  grid-column-start: 1;
  grid-column-end: 4;
  font-family: karla;
  text-decoration: underline;
  color: #495e57;
  padding-left: 5%;
  padding-bottom: 1%;
}

.logo2 {
  margin-top: 1.3em;
  grid-column: 1;
  grid-row: 1;
}

.logo2 img {
  max-width: 5em;
}

.footer1 {
  grid-column: 2;
  grid-row: 1;
}

.footer2 {
  grid-column: 3;
  grid-row: 1;
}

.footer3 {
  grid-column: 4;
  grid-row: 1;
}

.footer-nav,
.contact-us,
.socials {
  margin-top: -1em;
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.footer a {
  color: #495e57;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

/* Reservation Page Styles */

.booking-title {
  text-align: center;
  font-family: markazi;
  color: #495e57;
  text-decoration: underline;
  font-size: 3.5em;
}

.booking-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: karla;
}

.fieldset-container div {
  margin: 5%;
  padding: 0 3em;
}

.fullname,
.email,
.telephone,
.guests,
.occasion,
.date-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  text-wrap: nowrap;
}

.reserve-submit {
  font-size: 2em;
  background-color: #f4ce14;
  border-radius: 8px;
  font-family: karla;
  text-align: center;
  margin: 0.5em;
}

span {
  color: red;
}
